<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title th:text="#{new-artist}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<nav class="navbar navbar-light bg-light">
	<span>
		<a href="/" class="navbar-brand" th:text="#{front-page}"></a>
		<a href="/artistlist" class="navbar-brand" th:text="#{artists-heading}"></a>
		<a href="/genrelist" class="navbar-brand" th:text="#{genres-heading}"></a>
		<a href="/albumlist" class="navbar-brand" th:text="#{albums-heading}"></a>
		</span>
		<span>
		<a href="/artistlist/add?lang=en" class="btn btn-dark">EN</a>
		<a href="/artistlist/add?lang=fi" class="btn btn-dark">FI</a>
		</span>
	</nav>
	<h1 th:text="#{new-artist}"></h1>
	<div>
		<form th:object="${artist}" th:action="@{/artistlist/save}" action="#" method="post">
			<label for="name" th:text="#{name}"></label>
			<input type="text" id="name" th:field="*{name}"/>
			<p th:if="${#fields.hasErrors('name')}" th:text="#{name-error}"></p>
			<div style="clear: both; display: block; height: 1em;"></div>
			<label for="country" th:text="#{country}"></label>
			<input type="text" id="country" th:field="*{country}" />
			<p th:if="${#fields.hasErrors('country')}" th:text="#{country-error}">Error</p>
			<div style="clear: both; display: block; height: 1em;"></div>
			<button type="submit" th:text="#{save}" class="btn btn-success"></button>
		</form>
	</div>
	<div style="clear: both; display: block; height: 1em;"></div>
	<a href="/" class="btn btn-secondary" th:text="#{front-page}"></a>
	
	<div style="clear: both; display: block; height: 1em;"></div>
	<a sec:authorize="isAnonymous()" href="/login" class="btn btn-primary"
		th:text="#{sign-in}">Sign In</a>
	<div style="clear: both; display: block; height: 1em;"></div>
	<div>
		<form sec:authorize="hasAuthority('ADMIN')" th:action="@{/logout}"
			method="post">
			<button type="submit" class="btn btn-danger" th:text="#{sign-out}"></button>
		</form>
	</div>
</body>
</html>