<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title th:text=#{new-album}></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<nav class="navbar navbar-light bg-light">
	<span>
		<a href="/" class="navbar-brand" th:text="#{front-page}"></a>
		<a href="/artistlist" class="navbar-brand" th:text="#{artists-heading}"></a>
		<a href="/genrelist" class="navbar-brand" th:text="#{genres-heading}"></a>
		<a href="/albumlist" class="navbar-brand" th:text="#{albums-heading}"></a>
		</span>
		<span>
		<a href="/albumlist/add?lang=en" class="btn btn-dark">EN</a>
		<a href="/albumlist/add?lang=fi" class="btn btn-dark">FI</a>
		</span>
	</nav>
	<h1 th:text="#{new-album}"></h1>
	<div>
		<form th:object="${album}" th:action="@{/albumlist/save}" action="#" method="post">
			<label for="name" th:text="#{name}"></label>
			<input type="text" id="name" th:field="*{name}" />
			<p th:if="${#fields.hasErrors('name')}" th:text="#{name-error}"></p>
			<div style="clear: both; display: block; height: 1em;"></div>
			<label for="year" th:text="#{year}"></label>
			<input type="text" id="year" th:field="*{year}" />
			<p th:if="${#fields.hasErrors('year')}" th:text="#{year-error}"></p>
			<div style="clear: both; display: block; height: 1em;"></div>
			<label for="artist" th:text="#{artist}"></label>
			<select id="artists" th:field="*{artist}" class="form-control" style="width:10%;">
			<option th:each="artist: ${artists}" th:value="${artist.id}" th:text="${artist.name}"></option>
			</select>
			<div style="clear: both; display: block; height: 1em;"></div>
			<label for="genre" th:text="#{genre}"></label>
			<select id="genres" th:field="*{genre}" class="form-control" style="width:10%;">
			<option th:each="genre: ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
			</select>
			<div style="clear: both; display: block; height: 1em;"></div>
			<button type="submit" th:text="#{save}" class="btn btn-success"></button>
		</form>
	</div>
	<div style="clear: both; display: block; height: 1em;"></div>
	<a href="/" class="btn btn-secondary" th:text="#{front-page}"></a>
	
	<div style="clear: both; display: block; height: 1em;"></div>
	<a sec:authorize="isAnonymous()" href="/login" class="btn btn-primary"
		th:text="#{sign-in}">Sign In</a>
	<div style="clear: both; display: block; height: 1em;"></div>
	<div>
		<form sec:authorize="hasAuthority('ADMIN')" th:action="@{/logout}"
			method="post">
			<button type="submit" class="btn btn-danger" th:text="#{sign-out}"></button>
		</form>
	</div>
</body>
</html>