<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add a New Artist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add a New Artist</h1>
	<div>
		<form th:object="${artist}" th:action="@{/artistlist/save}" action="#" method="post">
			<label for="name">Name</label>
			<input type="text" th:field="*{name}" />
			<div style="clear: both; display: block; height: 1em;"></div>
			<label for="country">Country</label>
			<input type="text" th:field="*{country}" />
			<div style="clear: both; display: block; height: 1em;"></div>
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
	<div style="clear: both; display: block; height: 1em;"></div>
	<a href="/" class="btn btn-secondary">Front Page</a>
</body>
</html>