<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Artists</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Artists</h1>
	<p><b>Warning!</b> Deleting an artist will delete all their albums as well.</p>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Country</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

		<tr th:each="artist : ${artists}">
			<td th:text="${artist.name}">name</td>
			<td th:text="${artist.country}">country</td>
			<td><a th:href="@{/artistlist/{id}(id=${artist.id})}"
				class="btn btn-primary">View Albums</a></td>
			<td><a th:href="@{/artistlist/edit/{id}(id=${artist.id})}"
				class="btn btn-warning">Edit</a></td>
			<td><a th:href="@{/artistlist/delete/{id}(id=${artist.id})}" 
				class="btn btn-danger">Delete</a></td>
		</tr>
	</table>
	<a href="/artistlist/add" class="btn btn-success">Add a New Artist</a>
	<a href="/" class="btn btn-secondary">Front Page</a>
</body>
</html>