<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Edit Genre</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Edit Genre</h1>
	<div>
		<form th:object="${genre}" th:action="@{/genrelist/save}" action="#" method="post">
			<label for="id"></label>
			<input type="hidden" id="id" th:field="*{id}" />
			<label for="name">Title</label>
			<input type="text" id="name" th:field="*{name}" />
			<div style="clear: both; display: block; height: 1em;"></div>
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
	<div style="clear: both; display: block; height: 1em;"></div>
	<a href="/genrelist" class="btn btn-danger">Back</a>
</body>
</html>