<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title th:text="#{edit-album-heading}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<nav class="navbar navbar-light bg-light">
	<span>
		<a href="/" class="navbar-brand" th:text="#{front-page}"></a>
		<a href="/artistlist" class="navbar-brand" th:text="#{artists-heading}"></a>
		<a href="/genrelist" class="navbar-brand" th:text="#{genres-heading}"></a>
		<a href="/albumlist" class="navbar-brand" th:text="#{albums-heading}"></a>
		</span>
		<span>
		<a th:href="@{'/albumlist/edit/' + ${album.id}} + '?lang=en'" class="btn btn-dark">EN</a>
		<a th:href="@{'/albumlist/edit/' + ${album.id}} + '?lang=fi'" class="btn btn-dark">FI</a>
		</span>
	</nav>
	<h1 th:text="#{edit-album-heading}"></h1>
	<div>
		<form th:object="${album}" th:action="@{/albumlist/saveedit}" action="#" method="post">
			<label for="id"></label>
			<input type="hidden" id="id" th:field="*{id}" />
			<label for="name" th:text="#{name}"></label>
			<input type="text" id="name" th:field="*{name}" />
			<p th:if="${#fields.hasErrors('name')}" th:text="#{name-error}">Error</p>
			<div style="clear: both; display: block; height: 1em;"></div>
			<label for="year" th:text="#{year}"></label>
			<input type="text" id="year" th:field="*{year}" />
			<p th:if="${#fields.hasErrors('year')}" th:text="#{year-error}">Error</p>
			<div style="clear: both; display: block; height: 1em;"></div>
			<label for="artist" th:text="#{artist}"></label>
			<select id="artists" th:field="*{artist}" class="form-control" style="width:10%;">
			<option th:each="artist: ${artists}" th:value="${artist.id}" th:text="${artist.name}"></option>
			</select>
			<div style="clear: both; display: block; height: 1em;"></div>
			<label for="genre" th:text="#{genre}"></label>
			<select id="genres" th:field="*{genre}" class="form-control" style="width:10%;">
			<option th:each="genre: ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
			</select>
			<div style="clear: both; display: block; height: 1em;"></div>
			<button type="submit" th:text="#{save}" class="btn btn-success"></button>
		</form>
	</div>
	<div style="clear: both; display: block; height: 1em;"></div>
	<div>
	<h2 th:text="#{tracks-heading}"></h2>
	<div class="table-responsive">
	<table class="table table-striped">
		<tr>
			<th th:text="#{trackno}"></th>
			<th th:text="#{name}"></th>
			<th></th>
			<th></th>
		</tr>

		<tr th:each="song : ${songs}">
			<td th:text="${song.trackno}">trackno</td>
			<td th:text="${song.name}">name</td>
			<td><a th:href="@{/songlist/edit/{id}(id=${song.id})}"
				class="btn btn-warning" th:text="#{edit}"></a></td>
			<td><a th:href="@{/songlist/delete/{id}(id=${song.id})}"
				class="btn btn-danger" th:text="#{delete}"></a></td>
		</tr>
	</table>
	</div>
	</div>
	<div>
	<h2 th:text="#{new-track}"></h2>
	<form th:object="${song}" th:action="@{/songlist/save}" action="#" method="post">
			<label for="trackno" th:text="#{trackno}"></label>
			<input type="text" id="trackno" th:field="*{trackno}" />
			<p th:if="${#fields.hasErrors('trackno')}" th:text="#{trackno-error}">Error</p>
			<div style="clear: both; display: block; height: 1em;"></div>
			<label for="name" th:text="#{name}"></label>
			<input type="text" id="name" th:field="*{name}" />
			<p th:if="${#fields.hasErrors('name')}" th:text="#{name-error}">Error</p>
			<div style="clear: both; display: block; height: 1em;"></div>
			<select id="albums" th:field="*{album}" hidden="hidden">
				<option th:value="${album.id}"></option>
			</select>
			<div style="clear: both; display: block; height: 1em;"></div>
			<button type="submit" th:text="#{save}" class="btn btn-success"></button>
		</form>
	</div>
	<div style="clear: both; display: block; height: 1em;"></div>
	<a th:href="@{/albumlist/delete/{id}(id=${album.id})}" class="btn btn-danger" th:text="#{delete-album}"></a>
	<a th:href="@{/albumlist/{id}(id=${album.id})}" class="btn btn-primary" th:text="#{view-album}"></a>
	<a href="/" class="btn btn-secondary" th:text="#{front-page}"></a>
	
	<div style="clear: both; display: block; height: 1em;"></div>
	<a sec:authorize="isAnonymous()" href="/login" class="btn btn-primary"
		th:text="#{sign-in}">Sign In</a>
	<div style="clear: both; display: block; height: 1em;"></div>
	<div>
		<form sec:authorize="hasAuthority('ADMIN')" th:action="@{/logout}"
			method="post">
			<button type="submit" class="btn btn-danger" th:text="#{sign-out}"></button>
		</form>
	</div>
</body>
</html>