<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Edit Album</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Edit Album</h1>
	<div>
		<form th:object="${album}" th:action="@{/albumlist/saveedit}" action="#" method="post">
			<label for="id"></label>
			<input type="hidden" id="id" th:field="*{id}" />
			<label for="name">Name</label>
			<input type="text" id="name" th:field="*{name}" />
			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</p>
			<div style="clear: both; display: block; height: 1em;"></div>
			<label for="year">Year</label>
			<input type="text" id="year" th:field="*{year}" />
			<p th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Error</p>
			<div style="clear: both; display: block; height: 1em;"></div>
			<label for="artist">Artist</label>
			<select id="artists" th:field="*{artist}" class="form-control" style="width:10%;">
			<option th:each="artist: ${artists}" th:value="${artist.id}" th:text="${artist.name}"></option>
			</select>
			<div style="clear: both; display: block; height: 1em;"></div>
			<label for="genre">Genre</label>
			<select id="genres" th:field="*{genre}" class="form-control" style="width:10%;">
			<option th:each="genre: ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
			</select>
			<div style="clear: both; display: block; height: 1em;"></div>
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
	<div style="clear: both; display: block; height: 1em;"></div>
	<div>
	<h2>Tracks</h2>
	<table class="table table-striped">
		<tr>
			<th>No.</th>
			<th>Name</th>
			<th></th>
			<th></th>
		</tr>

		<tr th:each="song : ${songs}">
			<td th:text="${song.trackno}">trackno</td>
			<td th:text="${song.name}">name</td>
			<td><a th:href="@{/songlist/edit/{id}(id=${song.id})}"
				class="btn btn-warning">Edit</a></td>
			<td><a th:href="@{/songlist/delete/{id}(id=${song.id})}"
				class="btn btn-danger">Delete</a></td>
		</tr>
	</table>
	</div>
	<div>
	<h2>Add Track</h2>
	<form th:object="${song}" th:action="@{/songlist/save}" action="#" method="post">
			<label for="trackno">Track No.</label>
			<input type="text" id="trackno" th:field="*{trackno}" />
			<p th:if="${#fields.hasErrors('trackno')}" th:errors="*{trackno}">Error</p>
			<div style="clear: both; display: block; height: 1em;"></div>
			<label for="name">Name</label>
			<input type="text" id="name" th:field="*{name}" />
			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</p>
			<div style="clear: both; display: block; height: 1em;"></div>
			<select id="albums" th:field="*{album}" hidden="hidden">
				<option th:value="${album.id}"></option>
			</select>
			<div style="clear: both; display: block; height: 1em;"></div>
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
	<div style="clear: both; display: block; height: 1em;"></div>
	<a th:href="@{/albumlist/delete/{id}(id=${album.id})}" class="btn btn-danger">Delete Album</a>
	<a th:href="@{/albumlist/{id}(id=${album.id})}" class="btn btn-primary">View Album</a>
	<a href="/" class="btn btn-secondary">Front Page</a>
</body>
</html>