<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title th:text="#{genres-heading}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<nav class="navbar navbar-light bg-light">
	<span>
		<a href="/" class="navbar-brand" th:text="#{front-page}"></a>
		<a href="/artistlist" class="navbar-brand" th:text="#{artists-heading}"></a>
		<a href="/genrelist" class="navbar-brand" th:text="#{genres-heading}"></a>
		<a href="/albumlist" class="navbar-brand" th:text="#{albums-heading}"></a>
		</span>
		<span>
		<a href="/genrelist?lang=en" class="btn btn-dark">EN</a>
		<a href="/genrelist?lang=fi" class="btn btn-dark">FI</a>
		</span>
	</nav>
	<h1 th:text="#{genres-heading}"></h1>
	<p sec:authorize="hasAuthority('ADMIN')"><b th:text="#{warning}"></b></p>
	<p sec:authorize="hasAuthority('ADMIN')" th:text="#{genre-warning}"></p>
	<div class="table-responsive">
	<table class="table table-striped">
		<tr>
			<th th:text="#{name}"></th>
			<th></th>
			<th sec:authorize="hasAuthority('ADMIN')"></th>
			<th sec:authorize="hasAuthority('ADMIN')"></th>
		</tr>

		<tr th:each="genre : ${genres}">
			<td th:text="${genre.name}">name</td>
			<td><a th:href="@{/genrelist/{id}(id=${genre.id})}"
				class="btn btn-primary" th:text="#{view-albums}"></a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/genrelist/edit/{id}(id=${genre.id})}"
				class="btn btn-warning" th:text="#{edit}"></a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/genrelist/delete/{id}(id=${genre.id})}" 
				class="btn btn-danger" th:text="#{delete}"></a></td>
		</tr>
	</table>
	</div>
	<a sec:authorize="hasAuthority('ADMIN')" href="/genrelist/add" class="btn btn-success" th:text="#{new-genre}"></a>
	<a href="/" class="btn btn-secondary" th:text="#{front-page}"></a>
	
	<div style="clear: both; display: block; height: 1em;"></div>
	<a sec:authorize="isAnonymous()" href="/login" class="btn btn-primary"
		th:text="#{sign-in}">Sign In</a>
	<div style="clear: both; display: block; height: 1em;"></div>
	<div>
		<form sec:authorize="hasAuthority('ADMIN')" th:action="@{/logout}"
			method="post">
			<button type="submit" class="btn btn-danger" th:text="#{sign-out}"></button>
		</form>
	</div>
</body>
</html>