<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Music Database</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Welcome to the Music Database!</h1>
	
	<a href="/artistlist" class="btn btn-primary">Show All Artists</a>
	<a href="/artistlist/add" class="btn btn-success">Add a New Artist</a>
	<div style="clear: both; display: block; height: 1em;"></div>
	<a href="/genrelist" class="btn btn-primary">Show All Genres</a>
	<a href="/genrelist/add" class="btn btn-success">Add a New Genre</a>
	<div style="clear: both; display: block; height: 1em;"></div>
	<a href="/albumlist" class="btn btn-primary">Show All Albums</a>
	<a href="/albumlist/add" class="btn btn-success">Add a New Album</a>
</body>
</html>