<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{sign-in}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<nav class="navbar navbar-light bg-light">
	<span>
		<a href="/" class="navbar-brand" th:text="#{front-page}"></a>
		<a href="/artistlist" class="navbar-brand" th:text="#{artists-heading}"></a>
		<a href="/genrelist" class="navbar-brand" th:text="#{genres-heading}"></a>
		<a href="/albumlist" class="navbar-brand" th:text="#{albums-heading}"></a>
		</span>
		<span>
		<a href="/login?lang=en" class="btn btn-dark">EN</a>
		<a href="/login?lang=fi" class="btn btn-dark">FI</a>
		</span>
	</nav>
	<h1 th:text="#{sign-in}"></h1>
	<div th:if="${param.error}" th:text="#{login-error}"></div>
	<form th:action="@{/login}" method="post">
		<div>
			<label for="username" th:text="#{username}"></label>
			<input type="text" name="username" />
		</div>
		<div>
			<label for="password" th:text="#{password}"></label>
			<input type="password" name="password" />
		</div>
		<div>
			<button type="submit" class="btn btn-success" th:text="#{sign-in}"></button>
		</div>
	</form>
	<div style="clear: both; display: block; height: 1em;"></div>
	<div>
		<a href="/" class="btn btn-secondary" th:text="#{front-page}"></a>
	</div>
</body>
</html>