<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tracks</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1 th:text="${album.name}"></h1>
	<h2 th:text="${album.artist.name} + ' ● ' + ${album.year} + ' ● ' + ${album.genre.name}"></h2>
	<h2>Tracks</h2>
	<table class="table table-striped">
		<tr>
			<th>No.</th>
			<th>Name</th>
			<th></th>
			<th></th>
		</tr>

		<tr th:each="song : ${songs}">
			<td th:text="${song.trackno}">trackno</td>
			<td th:text="${song.name}">name</td>
			<td><a th:href="@{/songlist/edit/{id}(id=${song.id})}"
				class="btn btn-warning">Edit</a></td>
		</tr>
	</table>
	<a th:href="@{/albumlist/edit/{id}(id=${album.id})}" class="btn btn-warning">Edit Album</a>
	<a th:href="@{/albumlist/delete/{id}(id=${album.id})}" class="btn btn-danger">Delete Album</a>
	<div style="clear: both; display: block; height: 1em;"></div>
	<a th:href="@{/artistlist/{id}(id=${album.artist.id})}" class="btn btn-primary" th:text="'All ' + ${album.artist.name} + ' Albums'"></a>
	<a th:href="@{/genrelist/{id}(id=${album.genre.id})}" class="btn btn-primary" th:text="'All ' + ${album.genre.name} + ' Albums'"></a>
	<a href="/" class="btn btn-secondary">Front Page</a>
</body>
</html>